<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--The DLL names. Their key must start with MonitorDllName, their value is the name of dll.-->
    <add key="MonitorDllName_Kusto" value="KustoMonitor"/>
    <!--Administrator account used to receive exception email.-->
    <add key="AdminEmail" value="6750163hy@163.com"/>
    <!--Administrator account used to send email.-->
    <add key="FromEmail" value="6750163hy@163.com" />
    <add key="FromPassword" value="#{pwd}#" />
    <add key="SmtpHost" value="smtp.163.com" />
    <add key="SmtpPort" value="465" />

    <!--The number of seconds for the timeout of executing task.-->
    <add key="TimeOut" value ="600"/>
    <!--The cc address of the monitoring rule alert which used to hook up with ICM according to severity. -->
    <!--The key should start with "ActionEmailServerity_" -->
    <add key="ActionEmailServerity_1" value="6750163hy@163.com"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>