

*.pdb
*.CopyComplete
*.cache
BaseMonitor/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
BaseMonitor/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
BaseMonitor/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
InteropMonitoring/bin/Debug/InteropMonitoring.exe
InteropMonitoring/bin/Debug/InteropMonitoring.exe.config
InteropMonitoring/bin/Debug/Log/InteropMonitoring131811249949951894.log
InteropMonitoring/bin/Debug/MonitoringDll/Kusto/Kusto.Data.xml
InteropMonitoring/bin/Debug/MonitoringDll/Kusto/KustoMonitor.dll.config
InteropMonitoring/bin/Debug/MonitoringDll/Kusto/Microsoft.IdentityModel.Clients.ActiveDirectory.Platform.xml
InteropMonitoring/bin/Debug/MonitoringDll/Kusto/Microsoft.IdentityModel.Clients.ActiveDirectory.xml
InteropMonitoring/bin/Debug/MonitoringDll/Kusto/Microsoft.TeamFoundation.Build2.WebApi.xml
InteropMonitoring/bin/Debug/MonitoringDll/Kusto/Microsoft.TeamFoundation.Chat.WebApi.xml
InteropMonitoring/bin/Debug/MonitoringDll/Kusto/Microsoft.TeamFoundation.Common.xml
InteropMonitoring/bin/Debug/MonitoringDll/Kusto/Microsoft.TeamFoundation.Core.WebApi.xml
InteropMonitoring/bin/Debug/MonitoringDll/Kusto/Microsoft.TeamFoundation.Dashboards.WebApi.xml
InteropMonitoring/bin/Debug/MonitoringDll/Kusto/Microsoft.TeamFoundation.DistributedTask.Common.Contracts.xml
InteropMonitoring/bin/Debug/MonitoringDll/Kusto/Microsoft.TeamFoundation.Policy.WebApi.xml
InteropMonitoring/bin/Debug/MonitoringDll/Kusto/Microsoft.TeamFoundation.SourceControl.WebApi.xml
InteropMonitoring/bin/Debug/MonitoringDll/Kusto/Microsoft.TeamFoundation.Test.WebApi.xml
InteropMonitoring/bin/Debug/MonitoringDll/Kusto/Microsoft.TeamFoundation.TestManagement.WebApi.xml
InteropMonitoring/bin/Debug/MonitoringDll/Kusto/Microsoft.TeamFoundation.Work.WebApi.xml
InteropMonitoring/bin/Debug/MonitoringDll/Kusto/Microsoft.TeamFoundation.WorkItemTracking.WebApi.xml
InteropMonitoring/bin/Debug/MonitoringDll/Kusto/Microsoft.VisualStudio.Services.Common.xml
InteropMonitoring/bin/Debug/MonitoringDll/Kusto/Microsoft.VisualStudio.Services.WebApi.xml
InteropMonitoring/bin/Debug/MonitoringDll/Kusto/Newtonsoft.Json.xml
InteropMonitoring/bin/Debug/MonitoringDll/Kusto/RulesFolder/LinkedInRules.txt
InteropMonitoring/bin/Debug/MonitoringDll/Kusto/System.Collections.Immutable.xml
InteropMonitoring/bin/Debug/MonitoringDll/Kusto/System.Net.Http.Formatting.xml
InteropMonitoring/bin/Debug/Newtonsoft.Json.xml
InteropMonitoring/bin/Debug/RuleExecuteInfo/store.json
.vs/InteropMonitoring/v15/.suo
.vs/InteropMonitoring/v15/sqlite3/storage.ide
